version: '3'

services:
  backend:
    build: .
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
    restart: always
    container_name: athletics-backend
    volumes:
      - ./logs:/app/logs  # 日志持久化
    command: npm start